* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0 auto;
  padding: 0px;
  font-family: Tahoma, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.table__container{
  width: 50%;
  padding: 0.5rem;
}
@media only screen and (max-width: 550px){
  .table__container{
    width: 100%;
  }
}